In [0]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [0]:
import pandas as pd
import numpy as np
import torch
import torch.nn as nn
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
import torch.nn.functional as F

In [0]:
class model1_relu(nn.Module):
  
  def __init__(self,n,h1,h2,h3,m):
    super().__init__()
    self.linear1 = nn.Linear(n,h1)
    self.linear2 = nn.Linear(h1,h2)
    self.linear3 = nn.Linear(h2,h3)
    self.linear4 = nn.Linear(h3,m)
  
  def forward(self,x):
    x = F.relu(self.linear1(x))
    x = F.relu(self.linear2(x))
    x = F.relu(self.linear3(x))
    x = self.linear4(x)
    return x

In [0]:
class model1(nn.Module):
  
  def __init__(self,n,h1,h2,h3,m):
    super().__init__()
    self.linear1 = nn.Linear(n,h1)
    self.linear2 = nn.Linear(h1,h2)
    self.linear3 = nn.Linear(h2,h3)
    self.linear4 = nn.Linear(h3,m)
  
  def forward(self,x):
    x = torch.sigmoid(self.linear1(x))
    x = torch.sigmoid(self.linear2(x))
    x = torch.sigmoid(self.linear3(x))
    x = self.linear4(x)
    return x

In [0]:
class model2(nn.Module):
  
  def __init__(self,n,h1,h2,m):
    super().__init__()
    self.linear1 = nn.Linear(n,h1)
    self.linear2 = nn.Linear(h1,h2)
    self.linear3 = nn.Linear(h2,m)
    
  
  def forward(self,x):
    x = torch.sigmoid(self.linear1(x))
    x = torch.sigmoid(self.linear2(x))
    x = self.linear3(x)
    return x

In [0]:
class model2_relu(nn.Module):
  
  def __init__(self,n,h1,h2,m):
    super().__init__()
    self.linear1 = nn.Linear(n,h1)
    self.linear2 = nn.Linear(h1,h2)
    self.linear3 = nn.Linear(h2,m)
    
  
  def forward(self,x):
    x = F.relu(self.linear1(x))
    x = F.relu(self.linear2(x))
    x = self.linear3(x)
    return

In [0]:
epoch = 1000

In [0]:
model_a = model1(6,4,3,2,1)
model_ar = model1_relu(6,4,3,2,1)
model_b = model1(6,7,6,4,1)
model_br = model1_relu(6,7,6,4,1)
model_c = model2(6,3,3,1)
model_cr = model2_relu(6,3,3,1)
model_d = model2(6,6,4,1)
model_dr = model2_relu(6,6,4,1)
model_e = model2(6,7,3,1)
model_er = model2_relu(6,7,3,1)

In [0]:
models = [model_a,model_ar,model_b,model_br,model_c,model_cr,model_d,model_dr,model_e,model_er]

In [0]:
df = pd.read_excel('NADEEM BHAI.xlsx')

In [18]:
df.head()

        CDMI          HI        DI    N2    Ro    Depth    O1    O2      O3
0   1.089511   41.155556  0.976278   4.2  1.75  1002.00 -27.6 -24.7 -152.00
1   8.200000  399.130435  0.997501   0.0  0.95   393.46 -55.5  -9.8 -198.50
2   4.569349  103.736264  0.990452   0.0  1.27    10.00 -49.5  -8.5 -176.13
3  14.662273    8.652561  0.896401   0.0  1.30  1287.56 -27.9  -3.7 -165.50
4   4.027778  863.750000  0.998844  27.9  2.23   805.00 -28.0 -24.8 -162.00

In [22]:
df_x = df[['CDMI','HI','DI','N2','Ro','Depth']]
df_x.head()

        CDMI          HI        DI    N2    Ro    Depth
0   1.089511   41.155556  0.976278   4.2  1.75  1002.00
1   8.200000  399.130435  0.997501   0.0  0.95   393.46
2   4.569349  103.736264  0.990452   0.0  1.27    10.00
3  14.662273    8.652561  0.896401   0.0  1.30  1287.56
4   4.027778  863.750000  0.998844  27.9  2.23   805.00

In [0]:
X = df_x.to_numpy()

In [24]:
X.shape,df_x.shape

((341, 6), (341, 6))

In [26]:
df_y1 = df[['O1']]
df_y2 = df[['O2']]
df_y3 = df[['O3']]
df_y3.head()

       O3
0 -152.00
1 -198.50
2 -176.13
3 -165.50
4 -162.00

In [0]:
y1 = df_y1.to_numpy()
y2 = df_y2.to_numpy()
y3 = df_y3.to_numpy()

In [0]:
scaler = StandardScaler()

In [0]:
X = scaler.fit_transform(X)

In [0]:
X_train,X_test,y_train_1,y_test_1 = train_test_split(X,y1,test_size=0.2,random_state=42)
X_train,X_test,y_train_2,y_test_2 = train_test_split(X,y2,test_size=0.2,random_state=42)
X_train,X_test,y_train_3,y_test_3 = train_test_split(X,y3,test_size=0.2,random_state=42)

In [61]:
X_train.shape,X_test.shape

((272, 6), (69, 6))

In [0]:
files = [X_train,]
X_train = torch.Tensor(X_train)
X_test = torch.Tensor(X_test)
y_train_1 = torch.Tensor(y_train_1)
y_train_2 = torch.Tensor(y_train_2)
y_train_3 = torch.Tensor(y_train_3)
y_test_1 = torch.Tensor(y_test_1)
y_test_2 = torch.Tensor(y_test_2)
y_test_3 = torch.Tensor(y_test_3)

In [63]:
X_train.shape

torch.Size([272, 6])

In [0]:
optim = torch.optim.Adam(model_br.parameters(),lr=0.1)
criterion = nn.MSELoss()

In [0]:
for i in range(epoch):
  preds_tr = model_br(X_train)
  preds_val = model_br(X_test)
  tr_loss = criterion(preds_tr,y_train_1)
  optim.zero_grad()
  tr_loss.backward()
  optim.step()
  val_loss = criterion(preds_val,y_test_1)
  if ((i+1)%20 == 0 or i ==0):
    print("Epoch : ",i+1,"\t Train Loss : ",tr_loss,"\t Val Loss : ",val_loss)